# Gradle
.gradle/
build/
**/build/

# Android Studio
.idea/
*.iml
local.properties

# Android build output
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.jks
*.keystore
key.properties

# Local machine files
*.log
